<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :brand_name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, id: :brand_category_id %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_field :about, id: :brand_about %>
  </div>
 <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :brand_address, id: "autocomplete", placeholder: "Enter your address", onFocus: "geolocate()" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= render 'layouts/auto' %>